[Desktop Entry]
Type=Application
Name=Mailove
GenericName=Mail Client
Comment=A fast, security-minded IMAP mail client for the KDE desktop
Exec=mailove %U
Icon=org.mailove.Mailove
Terminal=false
Categories=Network;Email;Qt;KDE;
Keywords=mail;email;imap;smtp;
MimeType=x-scheme-handler/mailto;
StartupNotify=true
